# Ambiente Virtual
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Banco de dados SQLite
*.db
*.db-journal

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivo de variáveis de ambiente locais
.env

# Arquivo de exportação de CSV
produtos_exportados.csv

# Arquivo de anotações
txt